@{
    Layout = null;
}

@model PageDetailDTO


<!DOCTYPE html>
<html lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- grid css -->
    <link rel="stylesheet" href="~/assets/main/css/plugins/bootstrap-grid.css">
    <!-- font awesome css -->
    <link rel="stylesheet" href="~/assets/main/css/plugins/fontawesome.min.css">
    <!-- swiper css -->
    <link rel="stylesheet" href="~/assets/main/css/plugins/swiper.min.css">
    <!-- okai css -->
    <link rel="stylesheet" href="~/assets/main/css/style-stylish.css">
    <!-- page title -->
    <title>Artelio</title>
        
</head>

<body>

    <!-- wrapper -->
    <div id="smooth-wrapper" class="mil-page-wrapper">

        <!-- cursor -->
        <div class="mil-cursor-follower"></div>
        <!-- cursor end -->
        <!-- scroll progress -->
        <div class="mil-progress-track">
            <div class="mil-progress"></div>
        </div>
        <!-- scroll progress end -->
        <!-- fixed elements -->
        <div class="mil-fixed">
            <div class="mil-top-panel-2" style="background: linear-gradient(0deg, rgb(51 51 51) 0%, rgba(0, 0, 0, 0) 31%);">
                <div class="container">
                    <div class="mil-left-side mil-tp-transition" id="swupTpLeft">
                        <a asp-action="Index" asp-controller="Home" class="mil-logo mil-scroll-to" data-no-swup>
                            <img style="width:60px; height:60px;" src="~/assets/logo/logo.png" alt="Alternate Text" />
                            <span>Artelio</span>
                        </a>
                    </div>

                    <div class="mil-onepage-nav" id="swup-opm">
                    </div>

                    <div class="mil-buttons-tp-frame mil-c-gone">
                        <div class="mil-buttons">
                                                                    <div style="display:flex; margin-right:30px;">
                                                                <div>
                            @if (Model.GetNotReadMessageCount != 0)
                            {
                                <a asp-action="Index" asp-controller="Messenger" style="margin-top: 27px; cursor: pointer; text-decoration: none; color: white;"><i class="fa-brands fa-facebook-messenger" style="margin-top: -13px; font-size: 20px; position: relative; top: 17px; right: 18px;"><p id="messageCounter" style="font-family: sans-serif;margin-bottom: 0px; position: relative; bottom: 13px;color: red; left: 13px;font-size: 20px; font-weight: 900;">@Model.GetNotReadMessageCount</p></i></a>

                            }
                            else
                            {
                                <a asp-action="Index" asp-controller="Messenger" style="margin-top: 27px; cursor: pointer;  text-decoration: none; color: white;"><i id="messageCounterLoc" class="fa-brands fa-facebook-messenger" style="margin-top: -13px; font-size: 20px; position: relative; top: 10px; right: 18px;"><p id="messageCounter" style="font-family: sans-serif;margin-bottom: 0px; position: relative; bottom: 13px;color: red; left: 13px;font-size: 20px; font-weight: 900;"></p></i></a>
                            }

                        </div>
                        <div>
                            @if (Model.GetFriendRequestCount != 0)
                            {
                                <a asp-action="Index" asp-controller="Notification" style="margin-top: 27px; cursor: pointer;"><i class="fa-solid fa-bell" style="margin-top: -13px; font-size: 20px; position: relative; top: 17px;"><p style="margin-bottom: 0px; position: relative; bottom: 13px;color: red; left: 13px;font-family: sans-serif;font-size: 20px; font-weight: 900;">@Model.GetFriendRequestCount</p></i></a>

                            }else{
                            <a asp-action="Index" asp-controller="Notification" style="margin-top: 27px; cursor: pointer;"><i class="fa-solid fa-bell" style="margin-top: -13px; font-size: 20px; position: relative; top: 10px;"><p style="margin-bottom: 0px; position: relative; bottom: 13px;color: red; left: 13px;font-family: sans-serif;font-size: 20px; font-weight: 900;"></p></i></a>

                            }

                        </div>
                        
                    </div>
                            
                            <a asp-action="Profile" asp-controller="Profile" class="mil-tp-btn">
                                <div>
                                    <img src="~/@Model.GetUserInfoDTO.ImageUrl" alt="Alternate Text" style="border-radius: 100%; width:40px; height: 40px;" />
                                </div>
                            </a>
                            <div class="mil-tp-btn">
                                <div class="mil-menu-btn"><span></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mil-menu-frame mil-menu-frame-2">
                <div class="mil-menu-window">
                    <div class="container">
                        <div class="row mil-no-g">
                            <div class="col-lg-6">
                                <div class="mil-left-side">
                                    <div class="mil-menu-part mil-inner-scroll" id="swupMenu">
                                        <ul class="mil-main-menu mil-c-gone">
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">Home</a>

                                            </li>

                                            <li>
                                                <a asp-action="Profile" asp-controller="Profile">Profile</a>

                                            </li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li>
                                                    <a asp-action="Index" asp-controller="Profile">Settings</a>

                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <div class="mil-bottom-part">
                                        <p class="mil-text-sm">©2024. All rights reserved.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mil-right-side">
                                    <div class="mil-links-part">
                                        <ul class="mil-links">
                                            <li><a asp-controller="profile" asp-action="index">Basic Info</a></li>
                                            <li><a asp-controller="profile" asp-action="socialmedia">Social Media</a></li>
                                            <li><a asp-controller="profile" asp-action="workexperience">Work Experience</a></li>
                                            <li><a asp-controller="profile" asp-action="award">Award</a></li>
                                            <li><a asp-controller="profile" asp-action="language">Language</a></li>
                                            <li><a asp-controller="profile" asp-action="skills">Skill</a></li>



                                        </ul>
                                    </div>
                                    <div class="mil-blog-part">
                                        <div class="mil-blog-section">
                                            <div class="mil-jcb mil-aic">
                                                <h4 class="mil-head4 mil-mb30">Your project</h4>
                                                <div class="mil-sb-nav mil-mb30">
                                                    <div class="mil-slider-btn mil-sb-prev mil-c-gone"><i class="fal fa-arrow-left"></i></div>
                                                    <div class="mil-slider-btn mil-sb-next mil-c-gone"><i class="fal fa-arrow-right"></i></div>
                                                </div>
                                            </div>
                                            <div class="swiper-container mil-blog-slider-sm">
                                                <div class="swiper-wrapper">
                                                    @foreach (var item in Model.getAllUserProjectDTOs)
                                                    {
                                                        <div class="swiper-slide">
                                                            <a asp-action="Detail" asp-controller="Home" asp-route-project="@item.Id" class="mil-blog-card-sm mil-c-gone">
                                                                <div class="mil-cover">
                                                                    <div class="mil-hover-frame">
                                                                        <img src="~/@item.ImageUrl" alt="cover">
                                                                    </div>
                                                                </div>
                                                                <div class="mil-text-frame">
                                                                    <h4 class="mil-head6 mil-max-1row-text">@item.ProjectName</h4>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- fixed elements end -->
        <!-- page transition -->

        <div id="toast" style="display:none; position: fixed; top: 20px; left: 50%; transform: translateX(-50%);
    background-color: #333; color: white; padding: 10px 20px; border-radius: 5px; font-size: 16px; z-index: 9999; box-shadow: 0 2px 6px rgba(0,0,0,0.3);"></div>
        <div class="mil-transition-fade" id="swup">
            <div class="mil-transition-frame">

                <!-- content -->
                <div id="smooth-content" class="mil-content">
                    <style>
                        @@media screen and (max-width:  755px) {
                            .media-void {
                                height: 10vh;
                            }
                        }
                    </style>
                    <!-- hero -->
                    <div class="mil-hero-1 mil-sm-hero mil-stl mil-up media-void" id="top" style="height: 20vh;">

                        <div class="container mil-hero-main mil-relative mil-aic">
                        </div>
                    </div>
                    <!-- hero end -->
                    <!-- details -->
                    <div>
                        <div class="container">
                            <div class="row mil-jcb mil-aic">
                                <div class="col-lg-6 mil-mb160">
                                    <div class="mil-project-img mil-port mil-up">
                                        <img src="~/@Model.GetProjectDTO.ImageUrl" alt="project" class="mil-scale-img" data-value-1="1.15" data-value-2="1">
                                    </div>
                                </div>
                                <div class="col-lg-5 mil-mb160">
                                    <p class="mil-stylized mil-m2 mil-mb60 mil-up">@Model.GetProjectDTO.ProjectName</p>
                                    <h2 class="mil-head1 mil-mb60 mil-up">@Model.GetProjectDTO.Title</h2>
                                    <p class="mil-text-md mil-mb60 mil-up">@Model.GetProjectDTO.About</p>
                                    <a asp-action="profile" asp-controller="profile" asp-route-userId="@Model.GetProjectDTO.UserId">
                                        <div class="mil-team-quote mil-up">
                                            <div class="mil-portrait">
                                                <img src="~/@Model.GetProjectDTO.UserImage" alt="SEO portrait">
                                            </div>
                                            <p class="mil-text-md mil-m1">@Model.GetProjectDTO.UserName</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mil-p-0-100">
                        <div class="" style="margin:0px; margin-left:50px; margin-right:50px;">
                            <div>
                                <h1 style="text-align: center; margin:30px">Content</h1>
                                @foreach (var item in Model.GetProjectDTO.ImageUrls)
                                {
                                    <img src="~/@item.ImageUrl" alt="Alternate Text" style="width:100%;" />
                                }
                            </div>
                        </div>
                    </div>
                    <!-- footer -->
                    <footer class="mil-footer mil-p-160-160">
                        <div class="container">
                            <div class="row mil-no-g">
                                <div class="col-lg-12">
                                    <div class="mil-footer-bottom mil-up">
                                        <p class="mil-text-sm">©2024. All rights reserved.</p>
                                        <p class="mil-text-sm">Design by: <a href="https://themeforest.net/user/millerdigitaldesign/portfolio" class="mil-text-link mil-a2 mil-c-gone">Nazar Miller</a></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </footer>
                    <!-- footer end -->

                </div>
                <!-- content -->

            </div>
        </div>
        <!-- page transition -->


    </div>
    <!-- wrapper end -->
    <!-- swup js -->
    <script src="~/assets/main/js/plugins/swup.min.js"></script>
    <!-- gsap js -->
    <script src="~/assets/main/js/plugins/gsap.min.js"></script>
    <!-- scroll smoother -->
    <script src="~/assets/main/js/plugins/ScrollSmoother.min.js"></script>
    <!-- scroll trigger js -->
    <script src="~/assets/main/js/plugins/ScrollTrigger.min.js"></script>
    <!-- scroll to js -->
    <script src="~/assets/main/js/plugins/ScrollTo.min.js"></script>
    <!-- swiper js -->
    <script src="~/assets/main/js/plugins/swiper.min.js"></script>
    <!-- parallax js -->
    <script src="~/assets/main/js/plugins/parallax.js"></script>

    <!-- pixy js -->
    <script src="~/assets/main/js/main.js"></script>


    <script src="~/assets/SignalR/ChatHub.js"></script>
    <script src="~/assets/SignalR/jquery.min.js"></script>
    <script src="~/assets/SignalR/signalr.min.js"></script>

    <script>
        $(document).ready(() => {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/chathub")
                .withAutomaticReconnect()
                .build();

            connection.start().then(() => {
                console.log("SignalR bağlantısı quruldu");
                // Bildiriş icazəsini soruşuruq
                if ("Notification" in window && Notification.permission !== "granted") {
                    Notification.requestPermission();
                }
            }).catch(err => console.error(err));

            function showToast(message) {
                const toast = $("#toast");
                toast.text(message).fadeIn(400);

                setTimeout(() => {
                    toast.fadeOut(400);
                }, 5000); // 5 saniyə göstərilir
            }

            $(document).ready(() => {
                const connection = new signalR.HubConnectionBuilder()
                    .withUrl("/chathub")
                    .withAutomaticReconnect()
                    .build();

                connection.start().then(() => {
                    console.log("SignalR bağlantısı quruldu");
                }).catch(err => console.error(err));

                var count = @Html.Raw(Json.Serialize(Model.GetNotReadMessageCount));
                connection.on("unreadMessageAlert", function(messageId, fromUserId) {
                    showToast("Yeni mesajınız var!");
                    count++;
                    $("#messageCounter").text("")
                    $("#messageCounter").append( `${count}`);
                    $("#messageCounterLoc").css("top", "18px")
                    });
            });
        })
    </script>

</body>

</html>
