@{
    Layout = null;
}

@model ResetPasswordDTO

<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artelio</title>
    <link rel="stylesheet" href="~/assets/auth/css/style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post">
            <h2>Reset Password</h2>
            <div class="input-field">
                <input asp-for="@Model.NewPassword" required>
                <label asp-for="@Model.NewPassword"></label>
                <span asp-validation-for="@Model.NewPassword" style="color: red; text-align: start;"></span>

            </div>
            <div class="input-field">
                <input asp-for="@Model.RepeatPassword" required>
                <label asp-for="@Model.RepeatPassword"></label>
                <span asp-validation-for="@Model.RepeatPassword" style="color: red; text-align: start;"></span>

            </div>
            <button type="submit">Reset</button>
            <div asp-validation-summary="ModelOnly" style="color: red; text-align: start;"></div>
        </form>
    </div>
</body>
</html>